.backdrop{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;

}

.overlay{
    position: fixed;
    margin-top: 200px;
    background-color: white;
    margin-left: 30%;
    margin-right: 40%;
    border-radius: 6px;
    animation: slide-down 300ms ease-out forwards;
    min-width: 500px;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .modal {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }